@import "0-plugins/plugins"; 		// bourbon, neat, dll
@import "1-base/base"; 				// normalize, reset
@import "2-helpers/helpers"; 		// variables, mixins, functions
@import "3-components/components"; 	// buttons, accordion, inputs, tabs, modal
@import "4-theme/theme"; 			// theme dark, theme light
@import "5-sections/sections"; 		// header, footer, sidebar, nav, content
@import "6-pages/pages"; 			// beranda, profil, tentang, kontak, dll
@import "7-vendors/vendors"; 		// font awesome, bootstrap, dll

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(47, 43, 104);
}

header {
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;

    h1 {
        font-size: 4em;
        position: relative;
        padding: 0 15px;
    }

    p {
        font-size: 1em;
    }
}

img.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.background {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}